@use '../abstracts' as *;
@use '../base' as *;
@use '../layouts' as *;

// .menu-btn {
//   margin: 10rem;
//   background: #cecece;
//   width: 80px;
//   height: 80px;
//   display: grid;
//   place-items: center;
//   position: relative;

//   cursor: pointer;
//   @include transition-ease;

//   &__burger {
//     position: absolute;
//     content: '';
//     width: 30px;
//     height: 3px;
//     border-radius: 5px;
//     background-color: $nav-link-color;
//     @include transition-ease;

//     &::before {
//       position: absolute;
//       content: '';
//       top: -8px;
//       width: 30px;
//       height: 3px;
//       border-radius: 5px;
//       background-color: $nav-link-color;
//       @include transition-ease;
//     }

//     &::after {
//       position: absolute;
//       content: '';
//       top: 8px;
//       height: 3px;
//       width: 25px;
//       border-radius: 5px;
//       background-color: $nav-link-color;
//       @include transition-ease;
//     }
//   }
//   &.open .menu-btn__burger {
//     background: transparent;
//     transform: translateX(-50px);
//   }
//   &.open .menu-btn__burger::before {
//     transform: rotate(54.7deg) translate(35px, -35px);
//   }
//   &.open .menu-btn__burger::after {
//     width: 30px;
//     transform: rotate(-54deg) translate(35px, 35px);
//   }
// }

.menu-btn {
  width: 35px;
  height: 25px;
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;
  @include transition-ease;

  & > span {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: $nav-link-color;
    border-radius: 5px;
    @include transition-ease;
  }
  @include tablet {
    display: none;
  }
}

.burger--btn:nth-of-type(1) {
  transform: translateY(-8px);
}
.burger--btn:nth-of-type(2) {
  width: 25px;
}
.burger--btn:nth-of-type(3) {
  width: 20px;
  transform: translateY(8px);
}

.menu-btn.open .burger--btn:nth-of-type(2) {
  // transform: translateX(1.5rem);
  background: transparent;
  opacity: 0;
}
.menu-btn.open .burger--btn:nth-of-type(1) {
  transform: rotate(45deg);
}
.menu-btn.open .burger--btn:nth-of-type(3) {
  width: 30px;
  transform: rotate(-45deg);
}
