@use '../abstracts' as *;
@use '../layouts' as *;

.circular__progress {
  position: relative;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: $neutral-color;
  display: grid;
  place-items: center;
  @include tablet {
    width: 100px;
    height: 100px;
  }
  @include laptop {
    width: 110px;
    height: 110px;
  }
}
.circular__progress::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 70%;
  background-color: $white-color;
  border-radius: 50%;
}
.circular__value {
  position: relative;
  font-family: 'EuropaNuova';
  font-size: 2.7rem;
  color: $lucky-color;
}
