@use '../abstracts' as *;
@use '../base' as *;
@use '../layouts' as *;

.badge {
  background: $bg-color;
  padding: 3.8rem 0;
  @include tablet {
    padding: 5.3rem 0;
  }
  @include laptop {
    padding: 7.3rem 0;
  }

  // .badge__grid

  &__grid {
    gap: 2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
    }
  }

  // .badge__description

  &__description {
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }

  // .badge__head

  &__head {
    font-size: 2.8rem;
    color: $secondary-color;
    font-weight: bold;
    @include tablet {
      font-size: 3.4rem;
      margin-bottom: 1.6rem;
    }
    @include laptop {
      font-size: 4.4rem;
    }
  }

  // .badge__subtitle

  &__subtitle {
    color: $text-color;
  }

  // .badge__img

  &__img {
    max-width: 56rem;
  }
}
