@font-face {
  font-family: 'EuropaNuova';
  src: url('/src/fonts/EuropaNuovaRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuropaNuova';
  src: url('/src/fonts/EuropaNuovaBold.ttf');
  font-weight: bold;
  font-style: normal;
}
