@use '../abstracts' as *;
@use '../base' as *;
@use '../layouts' as *;

.miniature--cards {
  margin-bottom: 8.3rem;

  // .miniature--cards__grid

  &__grid {
    gap: 2rem;
    justify-items: center;
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include laptopX {
      gap: 0;
    }
  }

  // .miniature--cards__card

  &__card {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 53px;
    position: relative;
    max-width: 31.6rem;
    min-height: 31.8rem;
    border-radius: $card-radius;
    box-shadow: 2px 2px 10px rgba(136, 135, 135, 0.4);
    & > img {
      position: absolute;
      bottom: 0;
    }
  }

  // .miniature--cards__num

  &__num {
    font-size: 5.6rem;
    font-weight: weight(bold);
    color: $secondary-color;
    // margin-top: 53px;
  }

  // .miniature--cards__title

  &__title {
    color: $text-color;
  }
}

/* Showcase todo: */
.showcase {
  padding-top: 6.5rem;
  padding-bottom: 5rem;
  background: $bg-color;
  @include laptop {
    padding-bottom: 9rem;
  }
  // .showcase__container

  &__container {
    overflow: hidden;
  }

  // .showcase__grid

  &__grid {
    place-items: center;
    gap: 2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .showcase__description

  &__description {
    text-align: center;
    @include tablet {
      text-align: start;
    }
  }

  // .showcase__head

  &__head {
    color: $secondary-color;
  }

  // .showcase__subtitle

  &__subtitle {
    color: $text-color;
    & ~ p {
      color: $text-color;
    }
  }

  // .showcase__img

  &__img {
    position: relative;
    width: 100%;
    max-width: 60.7rem;
    min-height: 28rem;
    @include mobileX {
      min-height: 32rem;
    }
    @include mobileXL {
      min-height: 37rem;
    }
    @include laptop {
      min-height: 48rem;
    }
    @include laptopX {
      min-height: 50.5rem;
    }
  }

  // .showcase__img--frame

  &__img--frame {
    position: absolute;
    top: 0;
    left: 1rem;
  }
  // .showcase__img--picture

  &__img--picture {
    position: relative;
    z-index: 1;
    border-radius: $card-radius;
    max-width: 490px;
    width: 100%;
  }
}

/* Showcase Card */

.showcase--card {
  margin-bottom: 7rem;
  @include tablet {
    margin-bottom: 10rem;
  }
  // .showcase--card__grid

  &__grid {
    row-gap: 2rem;
    place-items: center;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include laptop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
    }
    @include laptopX {
      gap: 3rem;
    }
  }

  // .showcase--card__inner

  &__inner {
    max-width: 345px;
    min-height: 278px;
    background: $white-color;
    border: none;
    border-radius: $card-radius;
  }
}

.card--inner {
  box-shadow: 1px 1px 10px rgba(136, 135, 135, 0.288);
  padding: 2rem;
  @include tablet {
    padding: 4rem 2rem;
  }
  // .card--inner__head

  &__head {
    color: #3a3a3c;
    text-transform: capitalize;
    @include tablet {
      font-size: 2.8rem;
    }
  }

  // .card--inner__subtitle

  &__subtitle {
    color: $text-color;
  }
}

/* Showcase Header */

.showcase {
  margin-bottom: 7rem;
  @include tablet {
    margin-bottom: 10rem;
  }
  // .showcase__header

  &__header {
    margin-bottom: 5rem;
    text-align: center;
    @include tablet {
      margin-bottom: 7rem;
    }
    @include laptop {
      margin-bottom: 9.5rem;
    }
  }

  // .showcase__subject

  &__subject {
    color: $secondary-color;
  }

  // .showcase__desc

  &__desc {
    color: $text-color;
  }
}

/* Plan Block */

.plan {
  margin-bottom: 5rem;

  // .plan__grid

  &__grid {
    gap: 2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include laptop {
      column-gap: 3rem;
      place-items: center;
    }
  }

  // .plan__body

  &__body {
    text-align: center;
    @include tablet {
      text-align: justify;
    }
  }

  // .plan__subject

  &__subject {
    color: $secondary-color;
  }

  // .plan__title

  &__title {
    color: $text-color;
  }

  // .plan__image

  &__image {
    position: relative;
    max-width: 56rem;
    width: 100%;
    min-height: 35rem;
    @include mobileX {
      min-height: 40rem;
    }
    @include mobileXL {
      min-height: 45rem;
    }
    @include tablet {
      min-height: 43rem;
      order: -1;
    }
    @include laptop {
      min-height: 54.8rem;
    }
  }

  // .plan__picture

  &__picture {
    z-index: 1;
    position: relative;
    border-radius: $card-radius;
  }

  // .plan__frame--image

  &__frame--image {
    position: absolute;
    top: -1.3rem;
    left: -1.2rem;
    @include laptop {
      left: -1.8rem;
      top: -2rem;
    }
    @include laptopX {
      left: -3rem;
    }
  }
}

/*  Hiring Section */
.lucky {
  padding-top: 7rem;
  padding-bottom: 10rem;

  //. lucky__grid
  &__grid {
    row-gap: 8rem;
  }

  //.lucky__body
  &__body {
    position: relative;
  }

  //.lucky__icon
  &__icon {
    position: absolute;
    width: 15rem;
    height: 5.8rem;
    left: 14rem;
    bottom: -6rem;
    @include tablet {
      width: 19rem;
      left: 7rem;
    }
    @include laptop {
      width: 21.1rem;
    }
  }
}
