@use '../abstracts' as *;
@use '../base' as *;
@use '../layouts' as *;

.hero-1 {
  background: $bg-color;
  padding-top: 3rem;
  // .hero-1__grid

  &__grid {
    gap: 2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .hero-1__body

  &__body {
    text-align: center;
    @include tablet {
      text-align: start;
    }
  }

  // .hero-1__head

  &__head {
    line-height: 1.1;
    color: $secondary-color;
    @include mobileX {
      line-height: 1.2;
    }
    @include mobileXL {
      line-height: 1.3;
    }
    @include tablet {
      margin-bottom: 2rem;
    }
    @include laptop {
      margin-bottom: 4rem;
    }
  }

  // .hero-1__title

  &__title {
    color: $text-color;
  }

  // .hero-1__image

  &__image {
    max-width: 67.2rem;
  }

  // .hero-1__img

  &__img {
  }
}
