@use '../abstracts' as *;
@use '../base' as *;
@use '../layouts' as *;

.hero-1 {
  // background: $bg-color;
  padding-top: 9rem;
  margin-bottom: 5rem;
  @include laptop {
    margin-bottom: 7rem;
  }
  @include laptopX {
    margin-bottom: 10rem;
  }

  // .hero-1__grid

  &__grid {
    gap: 2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .hero-1__body

  &__body {
    text-align: center;
    @include tablet {
      text-align: start;
    }
  }

  // .hero-1__head

  &__head {
    line-height: 1.1;
    color: $secondary-color;
    @include mobileX {
      line-height: 1.2;
    }
    @include mobileXL {
      line-height: 1.3;
    }
    @include tablet {
      margin-bottom: 2rem;
    }
    @include laptop {
      margin-bottom: 4rem;
    }
  }

  // .hero-1__title

  &__title {
    color: $text-color;
  }

  // .hero-1__image

  &__image {
    max-width: 67.2rem;
  }
}

/* Circular Block */

.circular {
  margin-bottom: 3rem;
  @include tablet {
    margin-bottom: 5rem;
  }
  @include laptop {
    margin-bottom: 7rem;
  }
  @include laptopX {
    margin-bottom: 10rem;
  }
  // .circular__container

  &__container {
  }

  // .circular__grid

  &__grid {
    row-gap: 2rem;
    column-gap: 5rem;
    @include tablet {
      place-items: center;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .circular__grid--top
  &__grid--top {
    margin-bottom: 5rem;
    @include laptop {
      margin-bottom: 10rem;
    }
  }

  // .circular__grid--bottom
  &__grid--bottom {
    margin-bottom: 5rem;
  }

  // .circular__image--bottom
  &__image--bottom {
    @include tablet {
      order: -1;
    }
  }

  // .circular__body

  &__body {
    text-align: center;
    @include tablet {
      text-align: start;
    }
  }

  // .circular__icon

  &__icon {
    width: 20rem;
    height: 4.6rem;
    margin-bottom: 3rem;
    @include tablet {
      width: 22rem;
    }
    @include laptop {
      width: 24rem;
    }
  }

  // .circular__title

  &__title {
    color: $text-color;
  }

  // .circular__title--one

  &__title--one {
  }

  // .circular__title--two

  &__title--two {
    margin-bottom: 4rem;
  }

  // .circular__image

  &__image {
    max-width: 56.4rem;
    height: auto;
  }
  &__btn {
    margin-bottom: 3rem;
    @include transition-ease;
    @include tablet {
      margin-bottom: 0;
    }
    &:hover {
      color: $white-color;
      background: $primary-color;
    }
  }
}

/* Remarkable Section */

.remarkable {
  background: $bg-color;
  padding: 5rem 0;
  @include tablet {
    padding: 7rem 0;
  }
  @include laptop {
    padding: 10rem 0;
  }
  // .remarkable__container

  &__container {
    text-align: center;
  }

  // .remarkable__grid
  &__grid {
    @include mobileXL {
      place-items: center;
    }
  }

  // .remarkable__head

  &__head {
    color: $secondary-color;
    @include tablet {
      max-width: 45rem;
    }
    @include laptop {
      max-width: 50rem;
    }
  }

  // .remarkable__title

  &__title {
    color: $text-color;
    margin-bottom: 3rem;
  }
}
.remarkable {
  // .remarkable__buttons

  &__buttons {
    display: flex;
    flex-flow: column wrap;
    @include mobileX {
      flex-flow: row nowrap;
      column-gap: 1.6rem;
    }
    & > .active {
      background: $primary-color;
      color: $white-color;
    }
  }
  &__btn {
    margin-bottom: 2rem;
    @include mobileX {
      margin-bottom: 0;
    }
  }
}
