$primary-color: #bf0830;
$secondary-color: #1a2578;
$lucky-color: #0daa41;
$neutral-color: #cde0db;

$text-color: #484c63;
$white-color: #fff;
$nav-link-color: #646a89;

$bg-color: linear-gradient(
  252.91deg,
  rgba(227, 231, 246, 0.75) 3.68%,
  rgba(227, 231, 246, 0.1) 97.82%
);

$footer-bg-color: #0d123c;

$btn-radius: 6px;
$card-radius: 8px;
