 <!-- Badge Section -->
<section class="badge">
  <div class="badge__container">
    <div class="badge__grid">
      <div class="badge__description">
        <h4 class="badge__head">Creators of award-winning products</h4>
        <p class="badge__subtitle">Our products are loved by customers and
          recommended by leading industry experts.</p>
      </div>
      <!-- Badge Image -->
      <div class="badge__img"><img src="./img/card--3.png" alt="Image of
          Badges"></div>
    </div>
  </div>
</section>