 <!-- Brands section -->
<section class="brands--name">
  <div class="brands--name__container">
    <h2 class="brands--name__title">Over <span>1.3 million</span> users and
      global brands
      trust us</h2>
    <!-- Brands icon -->
    <div class="brands--name__icon brands__grid">
      <svg class="brands__icon icon--dekoria">
        <use xlink:href="./icons/sprite-1.svg#dekoria"></use>
      </svg>
      <svg class="brands__icon icon--decathlon">
        <use xlink:href="./icons/sprite-1.svg#decathlon"></use>
      </svg>
      <svg class="brands__icon icon--domino">
        <use xlink:href="./icons/sprite-1.svg#domino"></use>
      </svg>
      <svg class="brands__icon icon--heineken">
        <use xlink:href="./icons/sprite-1.svg#heineken"></use>
      </svg>
      <svg class="brands__icon icon--toyota">
        <use xlink:href="./icons/sprite-1.svg#toyota"></use>
      </svg>
      <svg class="brands__icon icon--renault ">
        <use xlink:href="./icons/sprite-1.svg#renault"></use>
      </svg>
      <svg class="brands__icon icon--kfc">
        <use xlink:href="./icons/sprite-1.svg#kfc"></use>
      </svg>
    </div>
  </div>
</section>