 <!-- Card Casket -->
<section class="card">
  <div class="card__container">
    <h3 class="card__header">Our line of products</h3>
    <p class="card__sub">Here’s what we’re building to help businesses
      deliver amazing customer experiences.</p>
    <div class="card__grid">
      <div class="card__casket">
        <svg class="card__icon icon--card">
          <use xlink:href="./icons/sprite-2.svg#cookieyes"></use>
        </svg>
        <!-- Card title -->
        <p class="card__title">
          Plugins and extensions for eCommerce needs.
        </p>
        <!-- Button -->
        <a href="index.html" class="btn btn--primary card__btn">learn more</a>
        <!-- <span class="fa-solid fa-arrow-right-long"></span> -->
        <!-- Picture -->
        <img src="/src/img/card--1.png" alt=" Web toffee Cards' Picture"
          class="card__img">
      </div>
      <!-- Card 2 -->
      <div class="card__casket">
        <svg class="card__icon icon--card">
          <use xlink:href="./icons/sprite-2.svg#webtoffee"></use>
        </svg>
        <!-- Card title -->
        <p class="card__title">
          Plugins and extensions for eCommerce needs.
        </p>
        <!-- Button -->
        <a href="index.html" class="btn btn--primary card__btn">learn more</a>
        <!-- <span class="fa-solid fa-arrow-right-long"></span> -->
        <!-- Picture -->
        <img src="/src/img/card--2.png" alt=" Web toffee Cards' Picture"
          class="card__img">
      </div>
    </div>
  </div>
</section>