 <!-- Features Section -->
<section class="features">
  <div class="features__container">
    <div class="features__grid">
      <div class="features__description">
        <h4 class="features__head">Let's build the next big thing!</h4>
        <p class="features__subtitle">Looking to achieve great things?
          You've come to the right place.</p>
        <a href="index.html" class="btn btn--primary features__btn">Join the
          team</a>
      </div>
      <!-- Badge Image -->
      <div class="features__img"><img src="./img/card--4.png" alt="Image of
          Features"></div>
    </div>
  </div>
</section>