 <!-- Header and Navbar -->
<header class="header">
  <div class="header__container ">
    <!-- Header logo -->
    <a href="index.html" class="header__logo">
      <svg class="header__icon icon">
        <use xlink:href="./icons/sprite-2.svg#logonav"></use>
      </svg>
    </a>
    <!-- Header Nav -->
    <nav class="nav">
      <ul role="list" class="nav__list">
        <li class="nav__item "><a href="#" class="nav__link">Product</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
        <li class="nav__item active"><a href="#" class="nav__link">We're
            Hiring</a></li>
      </ul>
    </nav>
    <!-- Menu button -->
    <div type="button" class="menu-btn">
      <span class="burger--btn"></span>
      <span class="burger--btn"></span>
      <span class="burger--btn"></span>
    </div>
  </div>
</header>