<!-- Slider Section -->
<section class="slider">
  <div class="slider__container">
    <div class="slider__header">
      <h6 class="slider__head">Making waves with innovation</h6>
      <p class="slider__description">We are in the news for being market
        leaders who deliver exceptional products.</p>
    </div>
    <!-- Sliders -->
    <div class="swiper">
      <ul role="list" class="swiper__casket swiper-wrapper">
        <li class="swiper__item swiper-slide"><svg class="icon
            swiper--icon">
            <use xlink:href="./icons/sprite-2.svg#smashing"></use>
          </svg></li>
        <li class="swiper__item swiper-slide"><svg class="icon
            swiper--icon">
            <use xlink:href="./icons/sprite-2.svg#css"></use>
          </svg></li>
        <li class="swiper__item swiper-slide"><svg class="icon
            swiper--icon">
            <use xlink:href="./icons/sprite-2.svg#logonav"></use>
          </svg></li>
        <li class="swiper__item swiper-slide"><svg class="icon
            swiper--icon">
            <use xlink:href="./icons/sprite-2.svg#webtoffee"></use>
          </svg></li>
        <li class="swiper__item swiper-slide"><svg class="icon
            swiper--icon">
            <use xlink:href="./icons/sprite-2.svg#cookieyes"></use>
          </svg></li>
      </ul>
      <!-- Pagination  -->
      <!-- <div class="swiper-pagination"></div> -->
      <!-- Swiper Buttons -->
      <div class="swiper__btn">
        <button class="btn btn__swiper--left swiper-button-prev"><i
            class="fa-solid
            fa-arrow-left"></i></button>
        <button class="btn btn__swiper--right swiper-button-next"><i
            class="fa-solid
            fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</section>